version: 2.1

setup: true

orbs:
  continuation: circleci/continuation@0.3.1

jobs:
  deploychecks:
    docker:
      - image: cimg/base:stable
    resource_class: small
    steps:
      - checkout
      #determine day of week, then hour of day, then based on that, load a different configruation file.
      - run: 
          name: get Date and time, then determine whether whether to hold or not.
          command: |
            dow=$(date +%u)
            hod=$(date +%H)
            if [[ $hod -gt 5 && $hod -lt 22 && $dow -lt 6 ]]; 
            then cp .circleci/configio.yml .circleci/nextconfig.yml; 
            else cp .circleci/configooo.yml .circleci/nextconfig.yml; 
            fi
            cat .circleci/nextconfig.yml
      - continuation/continue:
          configuration_path: .circleci/nextconfig.yml
workflows:
  deploychecks:
    jobs:
      - deploychecks
